

@columns: 1;
@column-gap: 0px;
@hover-factor: 1.1;

html {
  font-family: 'Open Sans', sans-serif;
}
/*
body {
  background-image: url(/assets/images/11.png);
  background-size: cover;
}
*/
h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 200;
  display: block;
}

h2 {
  font-size: 3em;
  font-weight: 200;
}
h3 {
  font-size: 2em;
  font-weight: 200;
}
h4 {
  font-size: 1em;
  font-weight: 200;
}

h1 small {
  color: #A7A7A7;
}

nav.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

nav.navbar {
  margin: auto;
  width: 80%;
}



nav.navbar ul li a {
  color: #A7A7A7;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  padding: 10px;
}

nav.navbar ul li:hover a {
  color: #676767;
}
header {
  width: 40%;
  margin: auto;
}
header img {
  width: 100%;
}

#wrapper {
  width: 95%;
  /*max-width: 1100px;*/
  min-width: 100px;
  margin: 100px auto;
}

#columns {
  overflow: hidden;
}

.ccolumn(@count){
  -webkit-column-count: @count;
  -webkit-column-gap: @column-gap;
  -webkit-column-fill: auto;
  -moz-column-count: @count;
  -moz-column-gap: @column-gap;
  -moz-column-fill: auto;
  column-count: @count;
  column-gap: @column-gap;
  column-fill: auto;
  
}
/*
.large {
  -webkit-column-span:all;
  -moz-column-span:all;
  column-span:all;
}
*/
.pin a {
  margin: 0;
  padding: 0;
}

.pin:first-child {
  margin-top: 0px;
}

.pin {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 5px;
  padding-bottom: 5px;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.pin figure {
  opacity: 1;
  overflow: hidden;

background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(124,155,179,1) 47%, rgba(71,0,71,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(124,155,179,1)), color-stop(100%, rgba(71,0,71,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(124,155,179,1) 47%, rgba(71,0,71,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(124,155,179,1) 47%, rgba(71,0,71,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(124,155,179,1) 47%, rgba(71,0,71,1) 100%);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(124,155,179,1) 47%, rgba(71,0,71,1) 100%);

  position: relative;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0px;
  -moz-transform: rotate(0);
  -webkit-transform: translateZ(0);
}
.pin img {
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.pin:hover img {
  opacity: 0.4;
    -ms-transform: scale(@hover-factor,@hover-factor); /* IE 9 */
    -webkit-transform: scale(@hover-factor,@hover-factor); /* Chrome, Safari, Opera */
    transform: scale(@hover-factor,@hover-factor);
}
.pin:hover h4{
  opacity: 1;
  top: 50%;
}
.pin h4 {
  position: absolute;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 70%;
  margin-top: -1.5em;
  color: #FFF;
  font-weight: 200;
  font-size: 3.5em;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


@media only screen and (min-width:1200px) { 
  /* CSS rules here */
  #columns {
    .ccolumn(4);
  }
}

@media only screen and (min-width:600px) and (max-width:1199px) { 
  /* CSS rules here */
  #columns {
    .ccolumn(3);
  }
}
@media only screen and (min-width:400px) and (max-width:599px) { 
  /* CSS rules here */
  #columns {
    .ccolumn(2);
  }
}


@media only screen and (min-width: 400px) {
  nav.navbar ul li {
    display: inline-block;
    /*margin-left: 10px;*/
    text-align: center;
    width: 19%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width:400px) { 

  #columns {
    .ccolumn(1);
  }

}

@media only screen and (max-width:670px) { 
  nav.navbar ul li {
    /*margin-left: 10px;*/
    text-align: center;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    padding-top: 10px;
    border-bottom: 1px solid #BFBFBF;
  }
  nav.navbar ul li:hover {
    background-color: #CACACA;
  }
  nav.navbar {
    margin-bottom: 50px;
  }
}
